.Rproj.user
.Rhistory
.RData
.Ruserdata

*.Rproj

*.csv
*.xlsx
*.RData
*.txt
*.html

outputs/*/*/*_files/
# leaving only a couple of graphs just so directory is pushed
outputs/*/*/*_overtime_*.png 
outputs/GBBC/*/*.html